@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');



  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding-top: 0px;
    background-color: #3a3d7b;
    
  }
  .nav{
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    list-style: none;
    background-color: #3a3d7b;
    float: left;
  }
nav {
    
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}
a{
  color: #fdfdfd;
  text-shadow: 0 0 20px #f3eded;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #79b794;
}
